<app-navbar></app-navbar>
<section class="settings-container">
    <h1>Settings</h1>
    <form>
        <div class="form-group">
            <p>Change Email:</p>
            <label for="email"></label>
            <input type="text" id="email" placeholder="New email address" name="email">
        </div>
        <button type="button" (click)="changeEmail()">Change Email</button>
        <br>

        <div class="form-group">
            <p>Change Password:</p>
            <div class="password-input">
                <label for="password"></label>
                <input type="password" id="password" placeholder="New Password" [(ngModel)]="password" name="password">
                <span class="toggle-password" (click)="showPassword()">show</span>
            </div>
        </div>

        <div class="form-group">
            <div class="password-input">
                <label for="passwordConf"></label>
                <input type="password" id="passwordConf" placeholder="Confirm New Password" [(ngModel)]="passwordConf" name="passwordConf">
                <span class="toggle-password" (click)="showPasswordConf()">show</span>
            </div>
        </div>
        <button type="button" (click)="changePassword()">Change Password</button>
        <br>

        <div class="form-group">
            <a href="../../welcome-page">
                <button id="logOut" type="button">Log Out!</button>
            </a>
        </div>
    </form>
</section>