<app-navbar></app-navbar>
<section class="settings-container">
    <h1>Settings</h1>
    <div *ngIf="msgError" class="msgError error">{{ msgError }}</div>
    <div class="msgError"></div>
    <div *ngIf="msgSuccess" class="msgSuccess success">{{ msgSuccess }}</div>
    <div class="msgSuccess"></div>
    <form>
        <div class="form-group">
            <p>Old Password:</p>
            <label for="oldPassword"></label>
            <input type="password" id="oldPassword" placeholder="Old Password" [(ngModel)]="oldPassword" name="oldPassword">
        </div>
        <div class="form-group">
            <p>Change Email:</p>
            <label for="email"></label>
            <input type="text" id="email" placeholder="New email address" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
            <p>Change Password:</p>
            <div class="password-input">
                <label for="password"></label>
                <input type="password" id="password" placeholder="New Password" [(ngModel)]="password" name="password">
                <span class="toggle-password" (click)="showPassword()">show</span>
            </div>
        </div>
        <div class="form-group">
            <div class="password-input">
                <label for="passwordConf"></label>
                <input type="password" id="passwordConf" placeholder="Confirm New Password" [(ngModel)]="passwordConf" name="passwordConf">
                <span class="toggle-password" (click)="showPasswordConf()">show</span>
            </div>
        </div>
        <button type="button" (click)="changeEmailPassword()" id="changeButton">Change Email/Password</button>
        <br><br>
        <div class="form-group">
            <a href="../../welcome-page">
                <button id="logOut" type="button">Log Out!</button>
            </a>
        </div>
    </form>
</section>