body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.settings-container {
  width: 60%; /* Adjusted width to make it smaller */
  max-width: 800px; /* Added max-width for better responsiveness */
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.settings-container h1 {
  text-align: center;
  color: #0077B5;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-input {
  position: relative;
}

.password-input .toggle-password {
  position: absolute;
  top: 12%;
  right: 10px;
  font-size: medium;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #dbeffa;
  color: #004164;
  border: 1px solid #0077B5; /*add border color*/
  border: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}
.password-input .toggle-password:hover {
  background-color: #005989;
  color: rgb(255, 255, 255);
}
.password-input .toggle-password:active {
  background-color: #000b33;
  color: rgb(255, 255, 255);
}

.form-group button {
  background-color: #0077B5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 16px;
}

.form-group button:hover {
  background-color: #005f8d;
}

#logOut {
  background-color: #ec4a45; /* Typical logout button color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  margin: 0 auto;   /* centered */
  width: 75%;
  font-size: 16px;
  margin-top: 20px;
}

#logOut:hover {
  background-color: #c9302c;
}

/* Add this to remove underline from the <a> tag */
a {
  text-decoration: none;
}