<app-navbar></app-navbar>
<header>
    <h1>Profile</h1>
</header>
<div class="profile-container">
    <div class="profile-header">
        <!-- <div class="profile-picture">
        </div> -->
        <div class="profile-info">
            <p>Info: </p>
            <button>Connect</button>
            <button>Message</button>
        </div>
    </div>
    <div class="profile-content">
        <div class="profile-section">
            <h2>About</h2>
            <p>...</p>
        </div>
        <div class="profile-section">
            <h2>Experience</h2>
            <ul>
                <li>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <div class="profile-section">
            <h2>Skills</h2>
            <ul class="skills-list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>