<div id="navbar-container">
  <nav id="navbar">
    <div class="logo">
      <a href="../user-page/">
        <img src="assets/logos/mainMiniLogo.png" alt="LinkedIn-Clone">
      </a>
    </div>  
    <div class="container">
        <ul>
            <li><a href="../user-page/user-home" id="home-link">🏠 Home</a></li>
            <li><a href="../user-page" id="network-link">🌐 Network</a></li>
            <li><a href="../user-page/jobs" id="jobs-link">💼 Jobs</a></li>
            <li><a href="../user-page" id="messaging-link">📩 Messaging</a></li>
            <li><a href="../user-page" id="notifications-link">🔔 Notifications</a></li>
            <li><a href="../user-page/profile" id="profile-link">👤 Profile</a></li>
            <li><a href="../user-page/settings" id="settings-link">⚙️ Settings</a></li>
        </ul>
    </div>
  </nav>
</div>