<div id="navbar-container">
  <nav id="navbar">
    <div class="logo">
      <a href="../user-page/">
        <img src="assets/logos/miniLogoOfficial.png" alt="LinkedIn-Clone">
      </a>
    </div>  
    <div class="container">
        <ul>
            <li><a href="../user-page/user-home">🏠 Home</a></li>
            <li><a href="../user-page">🌐 Network</a></li>
            <li><a href="../user-page">💼 Jobs</a></li>
            <li><a href="../user-page">📩 Messaging</a></li>
            <li><a href="../user-page">🔔 Notifications</a></li>
            <li><a href="../user-page/profile">👤 Profile</a></li>
            <li><a href="../user-page/settings">⚙️ Settings</a></li>
        </ul>
    </div>
  </nav>
</div>