<header>
    <h1>Welcome Page</h1>
    <div class="logo">LinkedIn-Clone</div>
  </header>
  
  <section class="container">
    <form id="my-form" (submit)="onLogIn()">
      <h1>Sign in</h1>
      <br>
      <div *ngIf="msg" class="msg error">{{ msg }}</div>
      <div class="msg"></div>
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" [(ngModel)]="email" name="email">
      </div>
      <div class="password-input">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password">
        <span class="toggle-password" (click)="showPassword()">show</span>
      </div>
      <input class="btn" type="submit" value="Login">
    </form>
    <form id="sign-up" (submit)="onSignUp()">
      <p>New to LinkedIn? <button class="btn2" type="submit" value="SignUp">Sign Up</button></p>
    </form>
  </section>