<app-navbar></app-navbar>
<header id="main-header">
    <div class="container">
        <h1>User-Home Page</h1>
    </div>
</header>
<!--
<section id="showcase">
    <div class="container">
        <h1> Section Header: My Responsive Website Template</h1>
    </div>
</section>
-->
<div class="container">

    <h1>User Management</h1>

    <!-- Button to Get Students -->
    <button (click)="getStudents()">GET Students</button>
    <br>
    <!-- Button to Get Specific Student -->
    <button (click)="getSpecificStudent()">GET Specific Student (with ID=1)</button>
    <br>
    <!-- Button to Add a Hardcoded Student -->
    <button (click)="addStudent()">POST(add) Hardcoded Student</button>
    <br>
    <!-- Button to Update a Hardcoded Student -->
    <button (click)="updateStudent()">PUT(update) Hardcoded Student (with ID=1)</button>
    <br>
    <!-- Button to Delete a Hardcoded Student -->
    <button (click)="deleteStudent()">DELETE Hardcoded Student (with ID=1)</button>
    
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <!--
    <section id="main">
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Dolores, recusandae molestias quas deserunt fugit vitae 
            eveniet rerum reiciendis asperiores culpa obcaecati, 
            magni maxime mollitia consectetur optio impedit aliquam 
            consequatur placeat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Amet, saepe obcaecati distinctio commodi id eveniet reprehenderit, 
            eum magnam voluptates consectetur, ex rem molestias voluptatum totam 
            culpa ut neque voluptatem iure?
        </p>
    </section>
    <aside id="sidebar">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Id commodi suscipit hic voluptate harum quos, aspernatur nesciunt expedita minima impedit nam.
        </p>
    </aside>
    -->
</div>
