<app-navbar></app-navbar>
<div class="container">
    <p>Messaging coming soon!</p>
    <!-- <h2>Chat Room</h2>
    <div *ngIf="!username">
      <input [(ngModel)]="username" placeholder="Enter your name" />
      <button (click)="addUser()">Join</button>
    </div>
    <div *ngIf="username">
      <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
      </ul>
      <input [(ngModel)]="messageContent" placeholder="Enter your message" />
      <button (click)="sendMessage()">Send</button>
    </div> -->
</div>

<!-- so that the page can be scrolled -->
<div style="margin-top:500px"></div>