<header id="main-header">
    <div class="container">
        <div class="logo">
            <a href="../../admin-page/">
              <img src="assets/logos/mainMiniLogo.png" alt="LinkedIn-Clone">
            </a>
        </div>  
        <h1>Admin's Home Page</h1>
        <div class="form-group">
            <a href="../../welcome-page">
                <button id="logOut" type="button">Log Out!</button>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <h1>Admin Management</h1>
    
    <section id="main">
        <h2>Welcome</h2>
        <p>
            Through the management page, the admin can navigate to the list of users. 
            From the user list, the admin can navigate to each user's detail page, 
            where they can examine the user's information. Additionally, the admin 
            has the ability to export user data in XML and JSON formats by selecting one or more users. 
            This includes their resume, article and job postings, professional experience, 
            notes of interest, comments on other professionals' articles, and their network 
            of connected professionals.
        </p>
    </section>
    
    <aside id="sidebar">
        <h2>Quick Links:</h2>
        <ul>
            <li><a href="../admin-page/users-list">Manage All Users</a></li>
            <!-- <li><a href="../users-reports">View Reports</a></li> -->
            <!-- <li><a href="../settings">Settings</a></li> -->
        </ul>
    </aside>
</div>