<p>signing works!</p>
<header>
    <h1>Settings</h1>
    <div class="logo">LinkedIn-Clone</div>
</header>

<section class="container">
    <form id="my-form">
        <h1>User Settings</h1>
        <br>
        <div>
            <label for="email">Change Email:</label> <!-- If there is already email address used. Show error message-->
            <input type="text" id="email" placeholder="old email address" name="email" value>
        </div>
        
        <div class="password-input">
            <label for="password">New Password:</label>
            <input type="password" id="password"  name="password">
            <span class="toggle-password">show</span>
        </div>

        <!--Doesnt check erros. Bug SOLVED(?)-->
      <div class="password-input">
          <label for="passwordConf">Confirm New Password:</label>
          <input type="password" id="passwordConf" name="passwordConf">
          <span class="toggle-password">show</span>
        </div>
        <div>
            <!-- Make logOut actually log you out and return to login page-->
            <a href="../login-page/">
            <button id="logOut" type="button">Log Out!</button>
            </a>
        </div>
    </form>
    
</section>