<app-navbar></app-navbar>

<div class="container">
    <div id="left-sidebar">
        <h2>Personal Information</h2>
        <ul>
            <li><a href="../user-page/profile">👤 Profile</a></li>
            <li><a href="../user-page/network">🌐 Network</a></li>
        </ul>
    </div>
    <div id="main-content">
        <div id="post-creation">
            <textarea [(ngModel)]="Text" placeholder="Start a post..."></textarea>
            <div class="media-inputs">
                <label for="media-upload">📷Add image</label>
                <input type="file" id="media-upload" accept="image/*" (change)="onArticlePhotoSelected($event)">
                <button id="post-button" (click)="createArticle()">Post Article</button>
            </div>
            <p *ngIf="msgSuccess" class="success-message">{{ msgSuccess }}</p>
            <p *ngIf="msgError" class="error-message">{{ msgError }}</p>
        </div>
        <div id="timeline">
            <h2>Posts Recommendations</h2>
            <!-- Iterate over the articles and display them -->
            <div *ngFor="let article of articles" class="post">
                <h4>{{ article.owner.name }} {{ article.owner.lastname }}<br>
                    <!-- Display creation date and time in a more readable format -->
                    <span class="text-muted" style="font-size: 0.8em; font-weight: normal;">{{ article.dateTime_of_Creation | date:'short' }}</span>
                </h4> 
                <p>{{ article.text }}</p>
                <img *ngIf="article.photoUrl" [src]="article.photoUrl" alt="Article Image"  class="article-image"/>
                <div class="post-info">
                    <div class="likes">
                        <span>{{ article.likedByUsers.length }} Like(s)</span>
                        <ul class="likes-list">
                            <li *ngFor="let user of article.likedByUsers">
                                {{ user.username }}
                            </li>
                        </ul>
                        <button (click)="likeArticle(article.articleID)">Like</button>
                    </div>
                    <div class="comments">
                        <span>{{ article.articleComments.length }} Comment(s)</span>
                        <ul class="comments-list">
                            <li *ngFor="let comment of article.articleComments">
                                {{ comment.content }} - {{ comment.commentOwner.username }}
                                <button *ngIf="comment.commentOwner.userID === currentUser.userID" (click)="deleteComment(article.articleID, comment.commentID)" class="delete-button">Delete Comment</button>
                            </li>
                        </ul>
                        <input type="text" [(ngModel)]="newComments[article.articleID]" placeholder="Add a comment">
                        <button (click)="addComment(article.articleID)">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right-sidebar">
        <h2>Additional Content</h2>
        <ul>
            <li><a href="../user-page/my-posts">📝 My Posts</a></li>
            <li><a href="../user-page/my-contacts-posts">👥 My Contacts' Posts</a></li>
        </ul>
    </div>

</div>

<!-- so that the page can be scrolled -->
<div style="margin-top:500px"></div>