<header id="main-header">
    <div class="container">
      <h1>LinkedIn-Clone</h1>
    </div>
  </header>
<nav id="navbar">
    <div class="container">
        <ul>
            <li><a href="../user-page">Home</a></li>
            <li><a href="../user-page">Network</a></li>
            <li><a href="../user-page">Jobs</a></li>
            <li><a href="../user-page">Messaging</a></li>
            <li><a href="../user-page">Notifications</a></li>
            <li><a href="../profile">Profile</a></li>
            <li><a href="../settings">Settings</a></li>
        </ul>
    </div>
</nav>