.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: rgb(80, 205, 255);
    color: #fff;
}

#navbar {
    background-color: #333;
    color: white;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}