body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


#main-content {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

#timeline {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timeline .h2 {
    text-align: center;
    position: relative;
}

#timeline .post {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timeline .post h2 {
    margin-bottom: 10px;
}

#timeline .post button {
    background: #0077B5;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
}

#timeline .post button:hover {
    background: #005f8d;
}

.post-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.likes, .comments {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    color: #363636;
    cursor: pointer;
    padding-bottom: 20px; /* add padding to create a buffer zone */

}

.likes span, .comments span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    transition: background-color 0.3s ease; /* add transition effect */
}

.likes:hover span, .comments:hover span {
    background-color: #ebebeb;
}

.likes-list, .comments-list {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    overflow-y: auto; /* add scroll if content overflows */
    cursor: pointer; /* change cursor to pointer (hand) */

}

.likes:hover .likes-list,
.likes-list:hover {
    display: block;
    width: 100px;    /* larger box */
    cursor: pointer; /* change cursor to pointer (hand) */
}
.comments:hover .comments-list,
.comments-list:hover {
    display: block;
    width: 200px;    /* larger box */
    cursor: pointer;
}

#timeline .post .post-info .comments .delete-button {
    all: unset; /* remove existing styles for delete-button */
    background: none;
    color: red;
    border: none;
    font-size: 12px;
    cursor: pointer;
    position: relative; /* position it relatively within the post */
    float: right; /* move it to the far right corner */
}

#timeline .post .post-info .comments .delete-button:hover {
    color: darkred;
}

#timeline .post .delete-button {
    all: unset; /* remove existing styles for delete-button */
    color: red;
    font-size: 14px;    /* font size */
    cursor: pointer;
    position: relative; /* position it relatively within the post */
    float: right; /* move it to the far right corner */
}
#timeline .post .delete-button:hover {
    color: none;
    background: none;
    color: darkred;
}

.article-image {
    width: 400px; /* set the width */
    height: auto; /* maintain the image's aspect ratio */
}