/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 1.1em; /* Slightly increase base font size */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #f8f9fa;
}

.logo {
  font-size: 1.8em;
  color: #0077B5;
  font-weight: bold;
}
.logo img {
  max-height: 40px; /* Adjust the height as needed */
  width: auto;
  margin-top: 10px; /* Add margin to move it slightly to the bottom */
}

h1 {
  margin-bottom: 0.3em; /* Add space between h1 and h2 */
  font-size: 2.3em; /* Increase font size */
}

h2 {
  margin-bottom: 0;
  font-weight: normal; /* Remove bold */
  font-size: 1.2em; /* Decrease font size */
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
  margin-top: -2rem; /* Move the container slightly higher */
  font-size: 0.8em; /* Reduce font size for all elements within the container */

}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'],
#my-form input[type='password'],
#my-form input[type='tel'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.password-input {
  position: relative;
}
.password-input .toggle-password {
  position: absolute;
  top: 38%;
  right: 10px;
  font-size: medium;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #dbeffa;
  color: #004164;
  border: 1px solid #0077B5; /*add border color*/
  border: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}
.password-input .toggle-password:hover {
  background-color: #005989;
  color: rgb(255, 255, 255);
}
.password-input .toggle-password:active {
  background-color: #000b33;
  color: rgb(255, 255, 255);
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #0077B5;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.btn2 {
  /* display: block; */
  /* width: 100%; */
  padding: 10px 15px;
  border: 0;
  background: #0077B5;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  background: #004164;
}

.btn2:hover {
    background: #004164;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

