<header>
    <div class="logo">
      <a href="../welcome-page">
        <img src="assets/logos/mainLogo.png" alt="LinkedIn-Clone">
      </a>
    </div>  
</header>
  
<section class="container">
  <form id="my-form">
    <h1>Sign Up</h1>
    <h2>Make the most of your professional life.</h2>
    <br>
    <div *ngIf="msgError" class="msgError error">{{ msgError }}</div>
    <div class="msgError"></div>
    <div *ngIf="msgSuccess" class="msgSuccess success">{{ msgSuccess }}</div>
    <div class="msgSuccess"></div>
    <div>
      <label for="name">Name: <span class="required">*</span></label>
      <input type="text" id="name" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for="lastname">Lastname: <span class="required">*</span></label>
      <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname">
    </div>
    <div>
      <label for="username">Username: <span class="required">*</span></label>
      <input type="text" id="username" [(ngModel)]="username" name="username">
    </div>
    <div>
      <label for="email">Email: <span class="required">*</span></label> <!-- If there is already email address used. Show error message -->
      <input type="text" id="email" [(ngModel)]="email" name="email">
    </div>
    
    <div class="password-input">
      <label for="password">Password: <span class="required">*</span></label>
      <input type="password" id="password" [(ngModel)]="password" name="password">
      <span class="toggle-password" (click)="showPassword()">show</span>
    </div>
    <div class="password-input">
      <label for="passwordConf">Confirm Password: <span class="required">*</span></label>
      <input type="password" id="passwordConf" [(ngModel)]="passwordConf" name="passwordConf">
      <span class="toggle-password" (click)="showPasswordConf()">show</span>
    </div>
    
    <div>
    <label for="phone">Phone number:</label>
    <input type="tel" id="phone" name="phone" [(ngModel)]="phone" placeholder="" pattern="[0-9]{10}"> <!-- add required attribute(?)-->
    </div>
    <div>
      <label for="birthdate">Birthdate:</label>
      <input type="date" id="birthdate" [(ngModel)]="birthdate" name="birthdate">
    </div>

    <form id="sign-up" (submit)="SignUp()">
     <button class="btn2" type="submit" value="SignUp">Sign Up</button>
    </form>
  </form>
</section>


 