/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: block;
    background-color: white; /* override with white */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1.1em; /* increase a little base font size */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #f8f9fa;
}

.logo {
    font-size: 1.8em;
    color: #0077B5;
    font-weight: bold;
}
.logo img {
    max-height: 40px;
    width: auto;
    margin-top: 10px; /* add margin to move it slightly to the bottom */
}

.header-buttons {
    display: flex;
    gap: 15px;
}

.btn, .btn2 {
    padding: 10px 20px;
    border: none;
    background: #0077B5;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.btn:hover, .btn2:hover {
    background: #004164;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 3rem;
}

.container {
    width: 60%;
    margin-left: 10%;    /* position: more to the right */
}

h1 {
    font-size: 2.8em;
    font-weight: normal; /* make text less bold */
    margin-bottom: 2rem;
    line-height: 1.2; /* adjust line height to take up two lines */
}

.image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-container img {
    max-width: 100%;
    height: auto;
}


#login .btn2 {
    background: #fff;
    color: #0077B5;
    border: 2px solid #0077B5;
    width: 50%;
    padding: 12px 24px;
    border-radius: 10px; /* make button softer */
}

#sign-up .btn2 {
    background: #fff;
    color: #0077B5;
    border: 2px solid #0077B5;
    width: auto;
    padding: 12px 24px;
    border-radius: 10px;
}

#login .btn2:hover, #sign-up .btn2:hover {
    background: #0077B5;
    color: #fff;
}

.sign-up-container {
    display: flex;
    align-items: center;
    gap: 10px; /* space between text and button */
}

.new-to-linkedin {
  margin-bottom: 0;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}