/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1.1em; /* Slightly increase base font size */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: #f8f9fa;
}

.logo {
    font-size: 1.8em;
    color: #0077B5;
    font-weight: bold;
}
.logo img {
    max-height: 40px; /* Adjust the height as needed */
    width: auto;
    margin-top: 10px; /* Add margin to move it slightly to the bottom */
}

.header-buttons {
    display: flex;
    gap: 15px;
}

.btn, .btn2 {
    padding: 10px 20px; /* Increase padding */
    border: none;
    background: #0077B5;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0; /* Increase margin */
    cursor: pointer;
}

.btn:hover, .btn2:hover {
    background: #004164;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 3rem; /* Increase padding */
}

.container {
    width: 60%; /* Adjust width as needed */
    margin-left: 10%;    /* position: more to the right */
}

h1 {
    font-size: 2.8em; /* Increase font size */
    font-weight: normal; /* Make text less bold */
    margin-bottom: 2rem;
    line-height: 1.2; /* Adjust line height to take up two lines */
}

.image-container {
    width: 40%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image-container img {
    max-width: 100%;
    height: auto;
}


#login .btn2 {
    background: #fff; /* White background */
    color: #0077B5; /* Blue text */
    border: 2px solid #0077B5; /* Blue border */
    width: 50%; /* Adjust width */
    padding: 12px 24px; /* Increase padding */
    border-radius: 10px; /* Make button softer */
}

#sign-up .btn2 {
    background: #fff; /* White background */
    color: #0077B5; /* Blue text */
    border: 2px solid #0077B5; /* Blue border */
    width: auto; /* Adjust width */
    padding: 12px 24px; /* Increase padding */
    border-radius: 10px; /* Make button softer */
}

#login .btn2:hover, #sign-up .btn2:hover {
    background: #0077B5; /* Blue background on hover */
    color: #fff; /* White text on hover */
}

.sign-up-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between text and button */
  }
  
  .new-to-linkedin {
    margin-bottom: 0; /* Remove bottom margin */
  }

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}