<app-navbar></app-navbar>
<div class="container">
    <div id="left-sidebar">
        <h2>My Job Offers:</h2>
        <ul>
            <!-- Iterate over the articles and display them -->
            <div *ngFor="let job of jobs" class="post">
                <h3>{{ job.title }}<br>
                    <span class="text-muted" style="font-size: 0.8em; font-weight: normal;">Offered by {{ job.owner.name }} {{ job.owner.lastname }}</span>
                </h3>
                <p *ngIf="job.needOfDegree">Degree required</p> 
                <p *ngIf="!job.needOfDegree">Degree not required</p>
                <p>{{ job.otherRequirements }}</p>
                <p *ngIf="job.fullTime">Full-time</p> 
                <p *ngIf="!job.fullTime">Part-time</p>
                <p *ngIf="job.salary != '0'">Salary: {{ job.salary }}€</p>
                <button (click)="deleteJobOffer(job.jobID)">Delete Job Offer</button>
                <button (click)="fetchJobApplications(job.jobID)">View Applicants</button>
                <div *ngIf="jobApplications[job.jobID]">
                    <h4>Applicants:</h4>
                    <ul>
                        <li *ngFor="let applicant of jobApplications[job.jobID]">
                            <a [routerLink]="['/user-page/profile-view', applicant.user.email]">
                                {{ applicant.user.name }} {{ applicant.user.lastname }} ({{ applicant.user.email }})
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
    <div id="main-content">
        <div id="timeline">
            <div id="job-creation">
                <textarea [(ngModel)]="jobOfferTitle" placeholder="Job Title" name="jobOfferTitle" required></textarea>
                
                <div class="job-details">
                    <label for="jobOfferNeedOfDegree">Need of Degree:</label>
                    <input type="checkbox" id="jobOfferNeedOfDegree" [(ngModel)]="jobOfferNeedOfDegree" name="jobOfferNeedOfDegree">
                    
                    <label for="jobOfferFullTime">Full Time:</label>
                    <input type="checkbox" id="jobOfferFullTime" [(ngModel)]="jobOfferFullTime" name="jobOfferFullTime">
                    
                    <label for="jobOfferSalary">Salary:</label>
                    <input type="number" id="jobOfferSalary" [(ngModel)]="jobOfferSalary" name="jobOfferSalary" required>
                </div>

                <textarea [(ngModel)]="jobOfferOtherRequirements" placeholder="Other Requirements" name="jobOfferOtherRequirements"></textarea>
            

                <button id="post-button" (click)="createJobOffer()">Post Job</button>
                
                <p *ngIf="msgSuccess" class="success-message">{{ msgSuccess }}</p>
                <p *ngIf="msgError" class="error-message">{{ msgError }}</p>
            </div>
            <h2>Job listings</h2>
            <ul>
                <!-- Iterate over the contacts job-offers and display them -->
                <div *ngFor="let job of contactsJobs" class="post">
                    <h3>{{ job.title }}<br>
                        <span class="text-muted" style="font-size: 0.8em; font-weight: normal;">Offered by {{ job.owner.name }} {{ job.owner.lastname }}</span>
                    </h3>
                    <p *ngIf="job.needOfDegree">Degree required</p> 
                    <p *ngIf="!job.needOfDegree">Degree not required</p>
                    <p>{{ job.otherRequirements }}</p>
                    <p *ngIf="job.fullTime">Full-time</p> 
                    <p *ngIf="!job.fullTime">Part-time</p>
                    <p *ngIf="job.salary != '0'">Salary: {{ job.salary }}€</p>
                    <button (click)="applyToJob(job.jobID)">Apply</button>                </div>
            </ul>
        </div>
    </div>
    <div id="right-sidebar">
        <h2>Jobs I have applied to:</h2>
        <ul>
            <!-- Iterate over the applied jobs and display them -->
            <div *ngFor="let job of appliedJobs" class="post">
                <h3>{{ job.title }}<br>
                    <span class="text-muted" style="font-size: 0.8em; font-weight: normal;">Offered by {{ job.owner.name }} {{ job.owner.lastname }}</span>
                </h3>
                <p *ngIf="job.needOfDegree">Degree required</p> 
                <p *ngIf="!job.needOfDegree">Degree not required</p>
                <p>{{ job.otherRequirements }}</p>
                <p *ngIf="job.fullTime">Full-time</p> 
                <p *ngIf="!job.fullTime">Part-time</p>
                <p *ngIf="job.salary != '0'">Salary: {{ job.salary }}€</p>
                <button (click)="deleteJobApplication(job.jobID)">Cancel Application</button>
            </div>
        </ul>
    </div>
</div>

<!-- so that the page can be scrolled -->
<div style="margin-top:500px"></div>