<app-navbar></app-navbar>
<div class="container">
    <div id="left-sidebar">
        <h2>My Job Offers:</h2>
        <ul>
            <!-- Iterate over the articles and display them -->
            <div *ngFor="let job of jobs" class="post">
                <h3>{{ job.title }}</h3>
                <p *ngIf="job.needOfDegree">Degree required</p> 
                <p *ngIf="!job.needOfDegree">Degree not required</p>
                <p>{{ job.otherRequirements }}</p>
                <p *ngIf="job.fullTime">Full-time</p> 
                <p *ngIf="!job.fullTime">Part-time</p>
                <p *ngIf="job.salary != '0'">Salary: {{ job.salary }}€</p>
                <button>Delete Job Offer</button>
            </div>
        </ul>
    </div>
    <div id="main-content">
        <div id="timeline">
            <div id="job-creation">
                <textarea placeholder="Upload a job offer..."></textarea>
                <div class="media-inputs">
                    <label for="media-upload">📷🎥🎵 Media</label>
                    <input type="file" id="media-upload" accept="image/*,video/*,audio/*">
                    <button id="post-button">Post Job</button>
                </div>
            </div>
            <h2>Job listings</h2>
            <ul>
                <!-- Iterate over the contacts job-offers and display them -->
                <div *ngFor="let job of contactsJobs" class="post">
                    <h3>{{ job.title }}</h3>
                    <p *ngIf="job.needOfDegree">Degree required</p> 
                    <p *ngIf="!job.needOfDegree">Degree not required</p>
                    <p>{{ job.otherRequirements }}</p>
                    <p *ngIf="job.fullTime">Full-time</p> 
                    <p *ngIf="!job.fullTime">Part-time</p>
                    <p *ngIf="job.salary != '0'">Salary: {{ job.salary }}€</p>
                    <button>Apply</button>
                </div>
            </ul>
        </div>
    </div>
    <div id="right-sidebar">
        <h2>Jobs I have applied to:</h2>
        <ul>
            <!-- Iterate over the applied jobs and display them -->
            <div *ngFor="let job of appliedJobs" class="post">
                <h3>{{ job.title }}</h3>
                <p *ngIf="job.needOfDegree">Degree required</p> 
                <p *ngIf="!job.needOfDegree">Degree not required</p>
                <p>{{ job.otherRequirements }}</p>
                <p *ngIf="job.fullTime">Full-time</p> 
                <p *ngIf="!job.fullTime">Part-time</p>
                <p *ngIf="job.salary != '0'">Salary: {{ job.salary }}€</p>
                <button>Cancel Application</button>
            </div>
        </ul>
    </div>
</div>

<!-- so that the page can be scrolled -->
<div style="margin-top:500px"></div>