<header id="main-header">
    <div class="container">
        <h1>Admin's Users-List Page</h1>
        <div class="form-group">
            <a href="../../welcome-page">
                <button id="logOut" type="button">Log Out!</button>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <h1>Admin Management</h1>
    
    <section id="main">
        <h2>Users List</h2>
        <ul>
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li>User 4</li>
            <li>User 5</li>
        </ul>
    </section>
    
    <aside id="sidebar">
        <h2>Quick Links:</h2>
        <ul>
            <li><a href="../admin-page/admin-home">Return Home</a></li>
            <!-- <li><a href="../users-reports">View Reports</a></li> -->
            <!-- <li><a href="../settings">Settings</a></li> -->
        </ul>
    </aside>
</div>