/* General Styles */
body {
    background-color: #e0e0e0; /* Light grey background */
    color: #333; /* Darker text color */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    height: 100%;
}
.container {
    display: flex;
    width: 80%;
    margin: 20px auto; /* Center the container */
    background-color: #fff; /* White background for contrast */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
    border-radius: 8px; /* Rounded corners */
}

/* Header Styles */
#main-header {
    background-color: #f9f9f9; /* Light grey background */
    padding: 10px 0;
    border-bottom: 1px solid rgb(220, 220, 220); /* Darker blue border */
}

#main-header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}

/* Main Section Styles */
#main {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

#main h2 {
    margin-top: 0;
}

/* Sidebar Styles */
#sidebar {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}

#sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00094a; /* Dark blue color */
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #000b4c; /* Dark blue color */
    text-decoration: none;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}

/* Clearfix */
.container::after {
    content: "";
    display: table;
    clear: both;
}