/* General Styles */
body {
    background-color: #e0e0e0; /* light grey background */
    color: #333; /* darker text color */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    height: 100%;
}
.container {
    display: flex;
    width: 80%;
    margin: 20px auto; /* center the container */
    background-color: #fff; /* white background for contrast */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* slightly darker shadow */
    border-radius: 8px; /* rounded corners */
}
.logo img {
    max-height: 40px;
    width: auto;
    margin-right: 5px; /* reduce space between logo image and text */
}

/* Header Styles */
#main-header {
    background-color: #f9f9f9; /* light grey background */
    padding: 10px 0;
    border-bottom: 1px solid rgb(220, 220, 220);
}

#main-header h1 {
    flex: 2; /* grow to fill the available space (to center) */
    text-align: center;
    margin: 0;
    font-size: 24px;
}
.form-group {
    margin-left: auto; /* pushes the form group to the right edge */
}

#logOut {
    background-color: #460000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px; /* rounded corners */
    font-size: 16px;
}

#logOut:hover {
    background-color: #000000;
}

/* Main Section Styles */
#main {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

#main h2 {
    margin-top: 0;
}

#main ul li {
    padding: 5px; /* add padding inside list items */
}

#main ul li:hover {
    background-color: #f0f0f0; /* light grey background on hover */

}

/* Sidebar Styles */
#sidebar {
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
}
#sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #00094a; /* dark blue color */
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    font-size: 17px;
    margin-bottom: 10px;
}


#sidebar ul li a {
    color: #000b4c; /* dark blue color */
    text-decoration: none;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}

/* Clearfix */
.container::after {
    content: "";
    display: table;
    clear: both;
}

/* Button Styles */
button {
    background-color: transparent; /* transparent background */
    color: #460000;
    border: 1px solid #460000;
    padding: 0px 5px; /* small padding */
    margin: 2px; /* small margin */
    cursor: pointer; /* pointer cursor on hover */
    border-radius: 3px; /* rounded corners */
    font-size: 13px; /* small font size */
}

button:hover {
    background-color: #460000;
    color: white;
}