<app-navbar></app-navbar>
<div class="container">
    <div class="search-container">
        <input type="text" placeholder="Search users..." class="search-input" [(ngModel)]="searchQuery">
        <button (click)="onSearch()">Search</button>
        <ul class="results-list">
            <li *ngFor="let result of searchResults">
                <a [routerLink]="['/user-page/profile-view', result.email]">
                    {{ result.username }} {{ result.email }}
                </a>
            </li>
        </ul>
    </div>
    <div class="contacts-container">
        <h2>Contacts</h2>
        <ul class="contacts-list">
            <li *ngFor="let contact of contacts">
                <a [routerLink]="['/user-page/profile-view', contact.email]">
                    {{ contact.username }} - {{ contact.email }}
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- so that the page can be scrolled -->
<div style="margin-top:500px"></div>