<app-navbar></app-navbar>
<div class="profile-container">
    <div class="profile-header">
        <div class="cover-photo">
            <label for="media-upload">
                <img [src]="'assets/images/placeholder-cover.jpg'" alt="Cover Picture" style="cursor: pointer;">
            </label>
            <input type="file" id="media-upload" accept="image/*" style="display: none;">
        </div>
        <div class="profile-info">
            <div class="profile-picture">
                <label for="media-upload">
                    <img [src]="'assets/images/placeholder-profile.jpg'" alt="Profile Picture" style="cursor: pointer;">
                </label>
                <input type="file" id="media-upload" accept="image/*" style="display: none;">
            </div>
            <div class="user-info">
                <h1>{{ Name }} {{ Surname }}</h1>
                <button (click)="fetchUserData()">Fetch User Data</button> <!-- New button to fetch user data -->
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="profile-content">
        <div class="profile-section">
            <h2>Contact info</h2>
            <ul>
              <li>
                <label>Email: {{ Email }}</label>
              </li>
              <li>
                <label>Phone: {{ Phone }}</label>
              </li>
              <li>
                <label>Birthdate: {{ Birthdate }}</label>
              </li>
            </ul>
          </div>
          <div class="profile-section">
            <h2>About</h2>
            <textarea [(ngModel)]="about" placeholder="Enter your professional summary..." (change)="updateAbout()"></textarea>
        </div>
        <div class="profile-section">
            <h2>Experience</h2>
            <select [(ngModel)]="selectedExperience" (change)="updateExperience()">
                <option *ngFor="let exp of experiences" [value]="exp">{{ exp }}</option>
            </select>
            <input type="text" [(ngModel)]="experienceDescription" placeholder="Enter experience description" (change)="updateExperience()">
        </div>
        <div class="profile-section">
            <h2>Education</h2>
            <select [(ngModel)]="selectedEducation" (change)="updateEducation()">
                <option *ngFor="let edu of educations" [value]="edu">{{ edu }}</option>
            </select>
            <input type="text" [(ngModel)]="educationDescription" placeholder="Enter education description" (change)="updateEducation()">
        </div>
        <div class="profile-section">
            <h2>Skills</h2>
            <select [(ngModel)]="selectedSkills" (change)="updateSkills()">
                <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
            </select>
        </div>
    </div>
</div>